<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Main">

    <main role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3 px-4">
                    <f:for each="{leftColumn}" as="contentElement">
                        <f:cObject
                                typoscriptObjectPath="tt_content.{contentElement.data.CType}"
                                data="{contentElement.data}"
                                table="tt_content"
                        />
                    </f:for>
                </div>
                <div class="col-md-4 px-4 border-start border-end border-primary-subtle border-2">
                    <f:for each="{middleColumn}" as="contentElement">
                        <f:cObject
                                typoscriptObjectPath="tt_content.{contentElement.data.CType}"
                                data="{contentElement.data}"
                                table="tt_content"
                        />
                    </f:for>
                </div>
                <div class="col-md-3 px-4">
                    <f:for each="{rightColumn}" as="contentElement">
                        <f:cObject
                                typoscriptObjectPath="tt_content.{contentElement.data.CType}"
                                data="{contentElement.data}"
                                table="tt_content"
                        />
                    </f:for>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </main>

</f:section>
