<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<f:layout name="Default" />
<f:section name="Main">

    <main role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1 col-lg-2"></div>
                <div class="col-sm-5 col-lg-4 mx-1 p-4 border border-primary-subtle border-5 rounded-5">
                    <f:for each="{leftColumn}" as="contentElement">
                        <f:cObject
                                typoscriptObjectPath="tt_content.{contentElement.data.CType}"
                                data="{contentElement.data}"
                                table="tt_content"
                        />
                    </f:for>
                </div>
                <div class="col-sm-5 col-lg-4 mx-1 p-4 border border-success-subtle border-5 rounded-5">
                    <f:for each="{rightColumn}" as="contentElement">
                        <f:cObject
                                typoscriptObjectPath="tt_content.{contentElement.data.CType}"
                                data="{contentElement.data}"
                                table="tt_content"
                        />
                    </f:for>
                </div>
                <div class="col-sm-1 col-lg-2"></div>
            </div>
        </div>
    </main>

</f:section>
