<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-5">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <f:image src="EXT:my_sitepackage/Resources/Public/Icons/logo.png"
                     alt="coffee logo"
                     width="60"
                     height="60"
            />
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-underline me-auto">
                <f:for each="{navigation}" as="navigationItem">
                    <f:if condition="{navigationItem.title} != 'Footer'">
                        <f:if condition="{navigationItem.hasSubpages}">
                            <f:then>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       href="#"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false"
                                    >
                                        {navigationItem.title}
                                    </a>
                                    <ul class="dropdown-menu">
                                            <f:for each="{navigationItem.children}" as="child">
                                                <li>
                                                    <a class="dropdown-item
                                                    {f:if(condition: child.active, then:'active')}"
                                                       href="{child.link}"
                                                       target="{child.target}"
                                                       title="{child.title}"
                                                    >
                                                        {child.title}
                                                    </a>
                                                </li>
                                            </f:for>
                                    </ul>
                                </li>
                            </f:then>
                            <f:else>
                                <li class="nav-item">
                                    <a class="nav-link
                                    {f:if(condition: navigationItem.active, then:'active')}"
                                       href="{navigationItem.link}"
                                       target="{navigationItem.target}"
                                       title="{navigationItem.title}"
                                    >
                                        {navigationItem.title}
                                    </a>
                                </li>
                            </f:else>
                        </f:if>
                    </f:if>
                </f:for>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control ms-3 me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

    </div>
</nav>
