/.dbimageBuild
/.global_commands
/.homeadditions
/.webimageBuild
/addon-metadata
/apache
/commands
/db-build
/db_snapshots
/homeadditions
/nginx_full
/providers
/traefik
/web-build
/web-entrypoint.d
/xhprof
/.ddev-docker-compose-base.yaml
/.ddev-docker-compose-full.yaml
/docker-compose.phpmyadmin.yaml
/docker-compose.phpmyadmin-norouter.yaml
